<div class="container">

    <img routerLink="/" class="img1b" src="assets/1.png" alt="#">
    <img routerLink="/" class="img1" src="assets/Vector.png" alt="#"> 
    <p class="persInfo">განათლება</p>
    <div class="bottomBorder"></div>
    <div class="pagesCounter">3/3</div>

    <div class="inputsContainer">

        <div class="education">
            <label for="text">სასწავლებელი</label>
            <input type="text" placeholder="სასწავლებელი" [(ngModel)]="school">
            <p>მინიმუმ 2 სიმბოლო</p>
        </div>  
        <div class="col">
            <label class="colLabel" for="select">ხარისხი</label>
            <select class="select" #eduQuality (change)="onSelected(eduQuality.value)" [(ngModel)]="value">
                <option default>აირჩიე ხარისხი</option>
                <option>საშუალო სკოლის დიპლომი</option>
                <option>ზოგადსაგანმანათლებლო დიპლომი</option>
                <option>ბაკალავრი</option>
                <option>მაგისტრი</option>
                <option>დოქტორი</option>
                <option>ასოცირებული ხარისხი</option>
                <option>სტუდენტი</option>
                <option>კოლეჯი(ხარისხის გარეშე)</option>
                <option>სხვა</option>
            </select>
        </div>

        <div class="endDate">
            <label for="date">დამთავრების რიცხვი</label>
            <input type="date" placeholder="mm/dd/yy" [(ngModel)]="endDate">
        </div>


        <div class="txtarea">
            <label for="info">აღწერა</label>
            <textarea name="info" id="#" cols="105" rows="6" placeholder="როლი თანამდებობაზე დაზოგადი აღწერა" [(ngModel)]="textArea"></textarea>
    </div>

</div>
    <div class="borderLine"></div>

    <app-additional *ngIf="isAdditional" [additionalInfo]="'education'" ></app-additional>

    <button  [style.marginTop]="isAdditional? '490px': '' " (click)="showAdditional()" class="educAdd"><span class="educAddSpan">სხვა სასწავლებლის დამატება</span></button>

    <button routerLink="/experience" class="prevBtn"><span class="prevBtnspan"> უკან </span></button>
    <button (click)="saveData()"  routerLink="/final" class="fnshBtn"><span class="fnshBtnspan"> დასრულება </span></button>

    <div class="blank">
        <img class="logoImg" src="assets/2.png" alt="#">\

        <p class="getusername" >{{getUserName}}</p>
        <p class="getlastname">{{getlastName}}</p>
        <p class="gettextarea">{{getTextarea}}</p>
        <p class="getemail">{{getEmail}}</p>
        <img class="userImage" [src]="getuserImage" alt="#">


        <p class="expCv">{{getExperience}}</p>
        <p class="empCv">{{getEmployer}}</p>
        <p class="startDateCv">{{getStartDate}}{{getEndDate}}</p>
        <p class="txtAreaCv">{{getTxtArea}}</p>


        <p class="school">{{school}}</p>
        <p class="qualityOfEdu">{{qualityOfEdu}}</p>
        <p class="endDate11">{{endDate}}</p>
        <p class="textArea">{{textArea}}</p>
        <p class="eduQualiValue">{{value}}</p>




    </div>
