
    <div class="container">
         <img routerLink="../home" class="img1b" src="imgs/1.png" alt="#">
        <img class="img1" src="imgs/Vector.png" alt="#"> 
        <p class="persInfo">პირადი ინფო</p>
        <div class="bottomBorder"></div>
        <div class="pagesCounter">1/3</div>
        <div class="inputsContainer">

            <div class="nameInput1">
                 <label for="nameInput">სახელი</label>
                 <input class="nameInput" type="name" placeholder="ანზორ" [(ngModel)]="userName">
                 <p>მინიმუმ 2 ასო, ქართული ასოები</p>
                </div>


            <div class="lastnameInp">
                 <label for="lastnameInput">გვარი</label>
                 <input class="lastnameInput" type="lastname" placeholder="მუმლაძე" [(ngModel)]="lastName">
                 <p>მინიმუმ 2 ასო, ქართული ასოები</p>
            </div>


         <div class="uploadimg">
            <h2 class="persImgUpl"> პირადი ფოტოს ატვირთვა</h2>
            <button class="imgUpload"><span class="persImgTxt"> ატვირთვა </span></button>
         </div>


         <div class="txtarea">
            <label for="info">ჩემ შესახებ (არასავალდებულო)</label>
            <textarea class="txtarea2" name="info" id="#" cols="105" rows="6" placeholder="ზოგადი ინფო შენ შესახებ" [(ngModel)]="Textarea"></textarea>
        </div>
          
        <div class="mailInp">
            <label for="email">ელ.ფოსტა</label>
            <input class="emailinp" type="email" placeholder="anzorr666@redberry.ge">
            <p>უნდა მთავრდებოდეს @redberry.ge-თი</p>
        </div>   

        <div class="mobileNumb">
            <label for="phoneNumber">მობილურის ნომერი</label>
            <input type="phoneNumber" placeholder="+995 551 12 34 56">
            <p>უნდა აკმაყოფილებდეს ქართული მობილური ნომრის ფორმატს</p>
        </div>

        </div>
        <button class="nextBtn"><span class="nextBtnspan"> შემდეგი </span></button>
    </div>

    <div class="Blank">
    <img class="logoImg" src="imgs/3.png" alt="#">
    <p>{{userName}}</p>
    <p>{{lastName}}</p>
    <p>{{Textarea}}</p>
</div>