<ng-container *ngIf="additionalInfo === 'experience'">

    <div class="inputsContainer">

        <div class="experience">
  
          <!-- !name?.value?.endsWith('@redberry.ge')|| !name?.value?.startsWith('+995')  -->
  
            <label for="text">გამოცდილება</label>
            <input  type="text" placeholder="დეველოპერი, დიზაინერი, ა.შ." name="experience"  [class.invalid]="name.invalid && (name.dirty || name.touched)|| name.value?.length < 2" [(ngModel)]="experience" #name="ngModel" required>
           <span [style.margin-left]="'810px'" *ngIf="name?.invalid && (name?.dirty || name?.touched)|| name?.value?.length < 2">!</span>
            <p>მინიმუმ 2 სიმბოლო</p>
        
          </div>   
  
        <div class="employer">
            <label for="text">დამსაქმებელი</label>
            <input  type="text" placeholder="დამსაქმებელი" name="employer" [class.invalid]="employerVali.invalid && (employerVali.dirty || employerVali.touched)|| employerVali.value?.length < 2" [(ngModel)]="employer" #employerVali="ngModel" required>
            <span [style.margin-left]="'810px'" *ngIf="employerVali?.invalid && (employerVali?.dirty || employerVali?.touched)|| employerVali?.value?.length < 2">!</span>
            <p>მინიმუმ 2 სიმბოლო</p>
        </div>   
  
        <div class="startDate">
            <label for="date">დაწყების რიცხვი</label>
            <input type="date" placeholder="mm/dd/yy" [class.invalid]="startDateVali.invalid && (startDateVali.dirty || startDateVali.touched)" [(ngModel)]="startDate" #startDateVali="ngModel" required>
        </div>
  
        <div class="endDate">
            <label for="date">დამთავრების რიცხვი</label>
            <input type="date" placeholder="mm/dd/yy" [class.invalid]="endDateVali.invalid && (endDateVali.dirty || endDateVali.touched)" [(ngModel)]="endDate" #endDateVali="ngModel" required>
        </div>
  
        <div class="txtarea">
            <label for="info">აღწერა</label>
            <textarea class="txtarea2" name="info" id="#" cols="105" rows="6" placeholder="როლი თანამდებობაზე დაზოგადი აღწერა" [(ngModel)]="txtArea"></textarea>
    </div>
  

   <div class="borderLine"></div>
 </div>


</ng-container>



 <p>{{experience}}</p>
 <p>{{employer}}</p>
 <p>{{startDate}}</p>
 <p>{{endDate}}</p>
 <p>{{txtArea}}</p>



 <!---------------------------------------------------------------------------------->

 <ng-container *ngIf="additionalInfo === 'education'">


    <div class="inputsContainerEdu">

    <div class="education">
        <label for="text">სასწავლებელი</label>
        <input type="text" placeholder="სასწავლებელი" [(ngModel)]="school">
        <p>მინიმუმ 2 სიმბოლო</p>
    </div>  
    <div class="col">
        <label class="colLabel" for="select">ხარისხი</label>
        <select class="select" #eduQuality (change)="onSelected(eduQuality.value)" [(ngModel)]="value">
            <option default>აირჩიე ხარისხი</option>
            <option>საშუალო სკოლის დიპლომი</option>
            <option>ზოგადსაგანმანათლებლო დიპლომი</option>
            <option>ბაკალავრი</option>
            <option>მაგისტრი</option>
            <option>დოქტორი</option>
            <option>ასოცირებული ხარისხი</option>
            <option>სტუდენტი</option>
            <option>კოლეჯი(ხარისხის გარეშე)</option>
            <option>სხვა</option>
        </select>
    </div>

    <div class="endDateEdu">
        <label for="date">დამთავრების რიცხვი</label>
        <input type="date" placeholder="mm/dd/yy" [(ngModel)]="endDate2">
    </div>


    <div class="txtareaEdu">
        <label for="info">აღწერა</label>
        <textarea name="info" id="#" cols="105" rows="6" placeholder="როლი თანამდებობაზე დაზოგადი აღწერა" [(ngModel)]="textArea"></textarea>
</div>

</div>
<div class="borderLineEdu"></div>

</ng-container>

<div class="blank">

    <p class="school">{{school}}</p>
    <p class="qualityOfEdu">{{qualityOfEdu}}</p>
    <p class="endDate11">{{endDate2}}</p>
    <p class="textArea">{{textArea}}</p>
    <p class="eduQualiValue">{{value}}</p>



</div>
