
<img routerLink="/" class="img1b" src="assets/1.png" alt="#">
<img routerLink="/" class="img1" src="assets/Vector.png" alt="#">

<div class="Blank">
    <img class="logoImg" src="assets/2.png" alt="#">


    <p class="getusername" >{{getUserName}}</p>
    <p class="getlastname">{{getlastName}}</p>
    <p class="gettextarea">{{getTextarea}}</p>
    <p class="getemail">{{getEmail}}</p>
    <p class="getphonenumber">{{getphonenumber}}</p>
    <img class="userImage" [src]="getuserImage" alt="#">

    
    <p class="expCv">{{getExperience}}</p>
    <p class="empCv">{{getEmployer}}</p>
    <p class="startDateCv">{{getStartDate}}{{getEndDate}}</p>
    <p class="txtAreaCv">{{getTxtArea}}</p>

    
    <p class="school">{{getSchool}}</p>
    <p class="qualityOfEdu">{{getQualityOfEdu}}</p>
    <p class="endDate11">{{getEndDate}}</p>
    <p class="textArea">{{getTextarea}}</p>
    <p class="eduQualiValue">{{getValue}}</p>







</div>