
* {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1920px) and (max-height: 1080px) {
.Blank {
    box-sizing: border-box;

    position: absolute;
    width: 822px;
    height: 1080px;
    left: calc(50% - 822px/2);
    top: 54px;
   
    background: #FFFFFF;
    border: 0.8px solid #000000;
}

.logoImg {
    position: absolute;
    width: 42px;
    height: 42px;
    left: 78px;
    top: 994px
}

.img1 {
    position: relative;
    margin-left: 44px;
    margin-top: 46.5px;
    cursor: pointer;
}

.img1b {
    position: absolute;
    margin: 35px 30px;
    cursor: pointer;
} 

.getusername {
     position: absolute;
width: 123px;
height: 42px;
left: 80px;
top: 68px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 42px;
/* identical to box height */


color: #F93B1D;

}
 
.getlastname {
     
position: absolute;
width: 166px;
height: 42px;
left: 223px;
top: 68px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 42px;
/* identical to box height */


color: #F93B1D;
}

.gettextarea {
     position: absolute;
width: 432px;
height: 72px;
left: 80px;
top: 250px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* or 138% */

text-transform: lowercase;

color: #000000;

}

.getemail {
     position: absolute;
width: 187px;
height: 21px;
left: 111px;
top: 127px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;

/* off black */

color: #1A1A1A;
}

.getphonenumber {
    position: absolute;
    width: 151px;
    height: 21px;
    left: 111px;
    top: 158px;
    
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    
    /* off black */
    
    color: #1A1A1A;
}

.userImage {
     position: absolute;
width: 246px;
height: 246px;
left: 501px;
top: 48px;

border-radius: 133px;
}

}

.expCv {
    position: absolute;
    width: 178px;
    height: 20px;
    left: 80px;
    top: 402px;
    
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    
    
    /* off black */
    
    color: #1A1A1A;
    
}

.empCv {
    position: absolute;
    width: 70px;
    height: 20px;
    left: 265px;
    top: 402px;
    
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    
    
    /* off black */
    
    color: #1A1A1A;
    
}

.startDateCv {
    position: absolute;
    width: 183px;
    height: 19px;
    left: 80px;
    top: 429px;
    
    font-family: 'Helvetica Neue';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    
    color: #919191;
    
}

.txtAreaCv {
    position: absolute;
    width: 662px;
    height: 66px;
    left: 80px;
    top: 464px;
    
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 138% */
    
    text-transform: capitalize;
    
    color: #000000;
    
}

.school {
    position: absolute;
    width: 349px;
    height: 20px;
    left: 80px;
    top: 625px;
    
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    
    color: #1A1A1A;
}

.qualityOfEdu {
    position: absolute;
    width: 81px;
    height: 20px;
    left: 445px;
    top: 625px;
    
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    
    color: #1A1A1A;
    
}

.endDate11 {
    position: absolute;
width: 84px;
height: 19px;
left: 80px;
top: 652px;

font-family: 'Helvetica Neue';
font-style: italic;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #919191; 
}

.textArea {
    position: absolute;
    width: 662px;
    height: 88px;
    left: 80px;
    top: 687px;
    
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 138% */
    
    text-transform: lowercase;
    
    color: #000000;
    
}
