<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="home.component.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<div class="background-image"></div>
<div class="img2"></div>
<div class="line"></div>

<body>
    <button class="btn" routerLink="/personalInfo"> <span class="txt">რეზიუმეს დამატება</span></button>
    <div class="Redberry-Logo"></div>
</body>
</html>