* {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1920px) and (max-height: 1080px) {
    


.background-image {
    background-image: url(phot/1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    height: 100vh;
    width: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
.Redberry-Logo {
    position: absolute;
    width: 236px;
    height: 38px;
    left: 70px;
    top: 25px;
    background-image: url(phot/LOGO-02.png);
}

.img2 {
    background: url(phot/13.png);
    position: absolute;
    width: 299px;
    height: 299px;
    left: 1076px;
    top: 473px;
    
    mix-blend-mode: multiply;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 60px;
    gap: 20px;
    
    position: absolute;
    width: 464px;
    height: 60px;
    left: calc(50% - 464px/2);
    top: 513px;
    
    /* off black */
    
    background: #1A1A1A;
    border-radius: 8px;
    
    cursor: pointer;

}
.txt {
    width: 212px;
    height: 24px;
    
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;

    cursor: pointer;
}
.line {
    position: absolute;
    height: 0px;
    left: 70px;
    right: 70px;
    top: 89px;
    
    /* off black */
    
    border: 1px solid #1A1A1A;
}

}